/* Default margin, padding, anad font*/ 
*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}
/* Header styles*/


.header{
    min-height: 100vh;
    width: 100%;
    /*Background with gradient*/ 
    background-image: linear-gradient(rgba(4,9,30,0.7),
     rgba(4,9,30,0.7)), url(images/IMG_0505.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
 /*Nav style*/ 

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 140px;

}
 /*Nav link style*/ 
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background: maroon;
    display: block;
    margin: auto;
    transition: 0.75s;
}

.nav-links ul li:hover::after {
    width: 100% 
}
 
/*Text box style*/ 
.text-box{
    width: 90;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 61px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 26px;
    color: white;
}
/*Button style*/ 
.click-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.click-btn:hover{
    border: 1px solid maroon;
    background:maroon; 
    transition: 1s;
}

nav .fa {
    display: none;
}
/*Media for phones */ 
@media(max-width: 700px) {
    .text-box h1 {
        font-size: 24px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: maroon;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}

/*------about me -----*/ 

.aboutme {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

p{
    
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px; 
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
/*Column styles for about me section */ 
.aboutme-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; 
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
/*hover effect*/ 
.aboutme-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
}

/*------golf-------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/augustaNational.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1{
    margin-top: 100px;  
}

.golf{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.golf-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.golf-col img{
    width: 100%;
}

.golf-col h1{
    padding-top: 0;
}

.golf-col p{
    padding: 15px 0 25px;
} 
/*Button style*/ 
.m-btn{
    border: 1px solid maroon;
    background: transparent;
    color: maroon;
}
/*hover effect*/ 
.m-btn:hover{
    color: white;
}

/*-----Contact------*/

.subb-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/thumbnail_IMG_0855.jpg); 
    background-size: cover;
    text-align: center;
    color: white;
}

.subb-header h1{
    margin-top: 100px; 
}

.contact{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.contact-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.contact-col img{
    width: 100%;
}

.contact-col h1{
    padding-top: 0;
}

.contact-col p{
    padding: 15px 0 25px;
} 

.m-btn{
    border: 1px solid maroon;
    background: transparent;
    color: maroon;
}
/*hover effect*/ 
.m-btn:hover{
    color: white;
}

/*------travel-------*/ 

.travel-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/IMG_0743.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.travel-header h1{
    margin-top: 100px; 
}

.travel{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.travel-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.travel-col img{
    width: 100%;
}

.travel-col h1{
    padding-top: 0;
}

.travel-col p{
    padding: 15px 0 25px;
} 
/*Button style*/ 
.m-btn{
    border: 1px solid maroon;
    background: transparent;
    color: maroon;
}

.m-btn:hover{
    color: white;
}



/*------------camping --------*/ 

.camping-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/aspen-trees-wallpaper-l.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.camping-header h1{
    margin-top: 100px; 
}

.camping{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.camping-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.camping-col img{
    width: 100%;
}

.camping-col h1{
    padding-top: 0;
}

.camping-col p{
    padding: 15px 0 25px;
} 

.m-btn{
    border: 1px solid maroon;
    background: transparent;
    color: maroon;
}
/*Button style*/ 
.m-btn:hover{
    color: white;
}

/*-----footer-------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 23px;
    margin-top: 18px;
    font-weight: 600;
}